<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
        angular.module("listaTelefonica",["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome:"Pedro", telefone:"99998888", data: new Date(), operadora:{nome:"Oi",codigo:"15", categoria:"Celular"}},
                {nome:"Ana", telefone:"99998877", data: new Date(), operadora:{nome:"Vivo",codigo:"14", categoria:"Celular"}},
                {nome:"João", telefone:"99998866", data: new Date(), operadora:{nome:"Tim",codigo:"41", categoria:"Celular"}},
            ];
            $scope.operadoras = [
                {nome:"Tim",codigo:"14", categoria:"Celular"},
                {nome:"Oi",codigo:"15", categoria:"Celular"},
                {nome:"Claro",codigo:"41", categoria:"Celular"},
                {nome:"GVT",codigo:"25", categoria:"Fixo"},
                {nome:"Embratel",codigo:"21", categira:"Fixo"},
            ];
            $scope.adicionarContato = function(contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };
            $scope.apagarContato = function(contatos){
                $scope.contatos = contatos.filter(function (contato){
                    if (!contato.selecionado) return contato;
                }); 
            };
            $scope.iscontatosSelecionados = function(contatos){
                return contatos.some(function(contato){
                    return contato.selecionado;        
                });
            };
            $scope.ordernarPor = function(campo){
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };
        });
    </script>
    <style>
        .jumbotron{
            width: 600px;
            margin: auto;
            text-align: center;
            margin-top: 20px;  
        }
        .table{
            margin-top: 20px; 
        }
        .form-control{
            margin-bottom: 5px;
        }
        .selecionado{
            background-color: #fffddd;
        }
        .negrito{
            font-weight: bold;
        }
    </style>
    <title>Lista Telefonica</title>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h2>Lista Telefonica</h2>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que está buscando?"/>
        <table ng-show="contatos.length > 0" class="table table-striped">
            <tr>
                 <th></th>
                 <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                 <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
                 <th>Operadora</th>
                 <th>Data</th>
            </tr>
            <tr class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>
        <hr/>
    <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">    
        <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
        <select class="form-control"  name="" id="" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras | orderBy:'nome'">
            <option value="">Selecione uma operadora</option>
        </select>
    </form>

    <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
        <div ng-message="required">
            Por favor, preencha  nome!
        </div>
        <div ng-message="minlength">
             O campo deve ter no mínimo 10 caracteres. 
        </div> 
    </div>  
    <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
            Por favor, preencha  telefone!
    </div>
    <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
            O campo telefone deve ter o formato ddddd-dddd.
    </div>
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
    <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="iscontatosSelecionados(contatos)">Apagar Contatos</button>
    
   
</div>
</body>
</html>